Flask==1.1.1
Lifelines == 0.25.4
Pandas == 1.1.0
Numpy == 1.18.1
Plotly == 4.10.0
Matplotlib == 3.1.3
Seaborn == 0.10.0
Scikit-learn == 0.22.1
Uszipcode == 0.2.4
Scipy == 1.4.1
Scikit-posthocs == 0.6.5
Joblib == 0.14.1
Patsy == 0.5.1
Geopandas == 0.8.1
Folium == 0.10.1
